h1 {
    text-align: center;
}

p {
    color: red;
}

h2 {
    text-align: center;
}
.Main-Body {
    color: black;
}
#Conclusion {
    color: blue;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}